<tmpl id="main" minify>
	<form id="config">
		<label>Servers</label>
		<textarea name="servers" placeholder="required"></textarea>
		<label>Private Key</label>
		<textarea name="privateKey" placeholder="(not changed)"></textarea>
		<input type="submit" value="Continue">
	</form>
</tmpl>
